
.container {
    width: 100%;
    height: 100%;
    display: grid;
    font-family: 'Poppins', sans-serif;
    transition: all .35s ease-out;
}

.topic {
    font-size: 2.7rem;
    color: aliceblue;
    line-height: 1rem;
    margin-left: 7rem;
    margin-top: 10rem;
}

.detail {
    font-size: 0.9rem;
    color: aliceblue;
    margin-top: 3rem;
    margin-left: 7rem;
}

.header_form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-left: -10rem;
    width: 30rem;
    height: 50px;
    color: aliceblue;
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.15);
    transition: all .35s ease-out;
}

.header_form p {
    font-size: 13px;
    margin-left: 5px;
}


.box {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.form {
    width: 90%;
    height: 20rem;
    display: flex;
    padding: 2rem ;
    margin-left: 5rem;
    margin-top: -4rem;
    border-radius: 10px;
    background-color: white;
    transform: translate(-50%, 20%);
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.15);
}

.input_form {
    position: relative;
    width: 80%;
    top: -18.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: -6.3rem;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.015rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.input_submit {
    position: relative;
    width: 88%;
    top: -17.5rem;
    margin-left: -6.3rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.07rem;
    color: white;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 3px 0 1px rgb(50, 186, 127);
    cursor: pointer;
    transition: all .2s linear;
}

.b_text {
    position: relative;
    text-align: center;
    margin-top: -16.5rem;
    left: 35.5rem;
    font-size: 11px;
    font-weight: 500;
    color: rgb(190, 190, 190);
}

.b_text span {
    color: hsl(0, 100%, 74%);
    cursor: pointer;
    font-weight: bold;
}
